@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholderBgColor{
    background-color: rgb(204 204 204);
}

.loginMargin{
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 40rem;
    margin-right: 40rem;
}

.changePasswordMargin{
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 40rem;
  margin-right: 35rem;
}

#cart-container:hover > svg,
#cart-container:hover > span {
  color: #4FD1C5;
}

.cart-list-container {
  height: 600px;
  overflow-y: scroll;
}
/* Set the main container to flex column layout */
.accountsPageParentDiv {
  display: flex;
  flex-direction: column;
}

/* Ensure the sidebar container shrinks and doesn't push the footer */
.accountsPageChildDiv{
  flex-shrink: 0;
}

.carousel-container .thumbs-wrapper {
  display: none;
}

.bgopacimage{
  --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bgopactext{
  --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.bgopacdesc{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.bgopaclink{
  --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}

.bgopacbutton{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.bgopacbutton2{
  --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.bgopacoverall{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.buttonboxshadow{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.topCalc{
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

label#rupee {
  position:relative;
  left:+15px;
}

input#productPrice {
  text-align:right;
}
